.noTitleStuff .ui-dialog-titlebar {
    display: none !important
}

.usuario-registrado {
    margin-top: 15px;
    color: #3276b1;
}

.btn-standard {
    padding: 6px 12px !important;
}

.row-highlight {
    background-color: #B6B1B1;
    height: 3.2em;
    padding-top: 0.4em;
    color: white;
    overflow: hidden;
}

@media (min-width: 979px) {
    .menu-show-icon {
        visibility: hidden;
    }
}

@media (max-width: 979px) {
    #left-panel.selected_menu {
        display: inline;
    }

    .menu-show-icon {
        padding: 6px 2px 5px 2px;
        visibility: visible;
    }
}

img.page-title-image {
    height: 50px;
    width: auto;
}

.page-title.custom {
    width: 300px;
    margin-top: 0;
    padding-left: 20px;
}

.menu-on-top nav ul ul, .menu-on-top nav ul ul ul {
    width: 280px !important;
}

a.breadcrumb-path {
    color: #E4E4E4;
    font-weight: bold;
}

.dropdown-tabbed-menu {
    position: absolute;
    top: 100%;
    left: -150px;
    width: 250px;
    height: 250px;
    z-index: 1000;
    /*display: ;*/
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    list-style: none;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
}

.autogen-btn {
    height: 31px;
    margin: 10px 0 0 5px;
    padding: 0 22px;
    font: 300 15px/29px 'Open Sans', Helvetica, Arial, sans-serif;
    cursor: pointer;
}

/**
 * Styles for process log
 *   See: http://astronautweb.co/snippet/font-awesome/ for font-awesome as CSS
 */
.process-log-SUCCESS {
    color: green;
    position: relative;
    padding-left: 1.3em;
}

.process-log-SUCCESS:before {
    content: "\f058";
    font-family: FontAwesome;
    left: 0;
    position: absolute;
    top: 0;
}

.process-log-INFO {
    color: black;
    position: relative;
    padding-left: 1.3em;
}

.process-log-WARN {
    color: orange;
    position: relative;
    padding-left: 1.3em;
}

.process-log-WARN:before {
    content: "\f071";
    font-family: FontAwesome;
    left: 0;
    position: absolute;
    top: 0;
}

.process-log-ERROR {
    color: #ff353b;
    position: relative;
    padding-left: 1.3em;
}

.process-log-ERROR:before {
    content: "\f057";
    font-family: FontAwesome;
    left: 0;
    position: absolute;
    top: 0;
}

.error-message {
    color: red;
}
.error-notification-field {
    color: yellow;
}

.smart-form .input .autogen-grid-filter {
    display: inline-block;
    width: 100%
}

.smart-form .input-group-addon {
   padding: 6px 10px 6px 20px;
}

.text-area-translation{
    cursor: default;
    background-color: white;
    border: 1px solid #ccc;
    width:2px;
}

.select2-container .select2-choice abbr {
    display: none;
    width: 12px;
    height: 12px;
    position: absolute;
    right: 34px;
    top: 9px;
    clip: auto;

    font-size: 1px;
    text-decoration: none;

    border: 0;
    background: url('../img/clear.png') right top no-repeat;
    cursor: pointer;
    outline: 0;
}

.select2-container .select2-choice .select2-arrow {
    background: none;
    border: none;
}

.select2-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.padding-5{
    padding: 5px;
}

.padding-10{
    padding: 10px;
}

.padding-20{
    padding: 20px;
}

.mbox {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0px 55px 10px 25px;
    padding-left: 4px;
}

.filter-button {
    margin-bottom: 15px;
}

.easypie-percent {
    text-align:center;
    position: absolute;
    top: 40%;
    left: 49%;
    display: inline;
}

@media (min-width: 700px) {
    .easypie-percent {
        text-align:center;
        position: absolute;
        top: 45%;
        left: 38%;
        display: inline;
    }
}
.easypie-title{
    position:relative;
    display: block;
}

@media (max-width: 699px) {
    .easypie-percent {
        text-align:center;
        position: absolute;
        top: 50%;
        left: 47%;
        display: inline;
    }
}

.margin-10 {
    margin: 10px !important;
}

.smart-form.ng-dirty input.ng-invalid{
    border-color: #a94442 !important;
}

.grid-drag-container{
    cursor: move;
}

.grid-drag-container .well:hover,
.grid-drag-container .grid-element-content:hover{
    background-color: #f5f5f5 !important;
}

.placeholder {
    border: 1px solid green;
    background-color: white;
    -webkit-box-shadow: 0px 0px 10px #888;
    -moz-box-shadow: 0px 0px 10px #888;
    box-shadow: 0px 0px 10px #888;
}
.tile {
    height: 100px;
}
.grid-element {
    margin-bottom: 10px !important;
}
.grid {
    margin-top: 1em;
}

.text-bold {
    font-weight: bold;
}
.text-italic {
    font-style: italic;
}
.text-row-1 {
    height: 1.5em;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.text-row-2 {
    height: 3em;
    text-overflow: ellipsis;
    overflow: hidden;
}

.btn.btn-link {
    color: #ffffff !important;
}
.btn.btn-link:hover {
    color: yellow !important;
}


.header-filter{
    padding-right: 5px;
}
.header-filter span span .btn .btn-link{
    padding-top: 0px !important;
}
.form-header .header-filter{
    padding-top: 5px;
}
@media only screen and (max-device-width: 650px){

    .header-filter-container {
        margin-left: -2px;
    }
    .header-filter{
        padding-right: 0px;
        margin-right: -1px;
        margin-left: -1px;
        width: 100%;
        background: #131313;
        border: 1px solid #131313;
    }
}
@media (max-width: 656px) {
    .header-filter > span {
        float:right;
    }
    .header-filter{
        padding-right: 0px !important;
        margin-right: -1px !important;
        margin-left: -1px !important;
        width: 100% !important;
        background: #131313 !important;
        border: 1px solid #131313 !important;
    }
}

.header-filter-label {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.header-filter .btn.btn-link {
    padding-top: 0px !important;
}

.tab-content .header-filter .filters {
    padding-top: 6px !important;
}

.tab-header {
    height: 38px !important;
}

.table-filters {
    float: left;
    vertical-align: top;
    margin-right: 2em;
}

.grouped-search-filter{
    margin-top: 4px;
}

.table-filters-RANGED {
    min-height: 4em;
}
.table-filters-STRING {
    width: 13em;
}
.table-filters-DATE {
    width: 7em;
}
.table-filters-MULTISELECT {
    width: 18em;
}
.table-filters-LIST, .table-filters-TABLE, .table-filters-TABLEDIR, .table-filters-SEARCH {
    width: 15em;
}

.autogen-grid-filter > .select2-container{
    width: 15em !important;
}
.autogen-grid-filter > .select2-container > a{
    width: 100%;
    padding-left: 0px;
}
.table-filters-YESNO, .table-filters-INTEGER, .table-filters-NUMBER {
    width: 5em;
}
.table-filters-sortable {
    float: left;
    vertical-align: top;
    margin-right: 1em;
    width: 7em;
}

.card-mode-check{
    position: absolute;
    top: 1px;
    left: 18px;
    z-index: 300;
    cursor: pointer;
}

.grid-card-mode{
    cursor : pointer !important;
}

.header-dropdown-list.filter{
    float: none !important;
    display: inline-block !important;
}
.header-dropdown-list.filter>li>.dropdown-toggle{
    margin-top: 0px !important;
}
.header-dropdown-list.filter .dropdown-menu *{
    color: #333;
}
.header-dropdown-list.filter .dropdown-menu{
    height: auto;
    width: auto;
    /*max-height: 600px;*/
}

.header-dropdown-list.filter .dropdown-menu form{
    height: auto !important;;
    max-height: 490px !important;
    min-width: 300px !important;
    overflow-y: auto !important;;
}

.header-dropdown-list.filter .dropdown-menu footer button{
    color: white;
}

.header-dropdown-list.filter .grid-element {
    height: 20px !important;
    cursor: pointer;
}

.header-dropdown-list.filter .grid {
    margin-left: 0px;
    margin-right: 0px;
}

.yes-no-checkbox{
    height: 20px;
}

@media only screen and (max-width: 479px) and (min-width: 320px){

    .page-title {
        display: block;
    }

    .table-filters,
    .table-filters-TABLE,
    .table-filters-TABLEDIR,
    .table-filters-STRING{
        width: 100%;
        margin-right: 26px;
    }

    .autogen-grid-filter > .select2-container{
        width: 100% !important;
    }
    .autogen-grid-filter > .select2-container > a{
        width: 100%;
        padding-left: 0px;
    }
}

.flotTip {
    z-index: 9999999 !important;
}

.flot-bar-chart-tooltips {
    border-radius: 10px;
    padding: 6px;
    color: #666;
    background: rgba(255,255,255,.8);
    border: 1px solid #1b1e24;
    font-family: sans-serif;
    font-size: 12px;
}

.app-modal-window > .modal-dialog {
    width: 95%;
}

.app-modal-dialog > .modal-dialog {
    width: 50%;
}

.entity-view-caption {
    display: block;
    margin: 10px 0 25px 0;
    border-bottom: 1px dotted #e4e9f0;
}

.entity-view-caption h1 {
    font-size: 22px;
    margin: 0 0 -2px 0;
    padding-bottom: 5px;
    display: inline-block;
    border-bottom: 2px solid #57889c;
}

.entity-view-right {
    text-align: right;
}

.chart-caption-filters {
    float: right;
    height: 100%;
    line-height: 30px;
    padding-right: 1em;
    padding-left: 1em;
    font-weight: bold;
    color: darkgreen;
    background-color: skyblue;
}

div .layout-editor > label.input,
div .layout-editor > label.checkbox{
    min-height: 62px;
}
div .selected-field {
    border: 1px solid orange;
    padding-bottom: 1px;
    border-radius: 2px;
    height: 100%;
}

div .selected-field .field-navigator{
    color: white;
    font-weight: bold;
    padding-left: 15px;
}
.field-item.selected-field{
    background-color: orange;
    border: 1px whitesmoke solid !important;
    cursor: pointer;
    font-weight: bold !important;
    border-radius: 5%;
}
.field-navigator > .field-item{
    padding: 6px;
    border: 1px lightgrey solid !important;
    border-radius: 5%;
}
.field-navigator{
    max-height: 300px;
    overflow-y: auto;
    overflow-x: auto;
}

.field-header{
    color: #3276B5;
    border-bottom: 1px solid #DDDDDD;
    font-weight: bold;
}

.layout-editor *{
    cursor: pointer !important;
}

.layout-editor.ui-droppable-hover {
    border: 1px solid #0E70CA !important;
    padding-bottom: 1px;
    border-radius: 2px;
}
.field-property > div{
    padding-bottom: 15px !important;
}

.select2-drop{
    min-width: 250px !important;
}