<!-- HEADER -->
<div data-smart-include="app/layout/partials/header.tpl.html" class="placeholder-header"></div>
<!-- END HEADER -->


<!-- Left panel : Navigation area -->
<!-- Note: This width of the aside area can be adjusted through LESS variables -->

<div data-smart-include="app/layout/partials/navigation.tpl.html" class="placeholder-left-panel"></div>

<!-- END NAVIGATION -->

<!-- MAIN PANEL -->
<div id="main" role="main">

    <tabset justified="true">
        <tab ng-repeat="item in getTabs()" active="item.active"
             select="go(item)">
            <tab-heading>{{item.heading}} <a class="pull-right" ng-click="removeTab($index)" href=''><i class="fa fa-times"></i></a></tab-heading>
        </tab>
    </tabset>
    <div data-smart-router-animation-wrap="content content@app" data-wrap-for="#content">
        <div data-ui-view="content" data-autoscroll="false"></div>
        <div data-ui-view="dialogs" id="customModalDialog" data-autoscroll="false"></div>
    </div>

</div>
<!-- END MAIN PANEL -->

<!-- PAGE FOOTER -->
<div ng-include="footerTemplateUrl"></div>
<!-- END PAGE FOOTER -->


