<!DOCTYPE html>
<html lang="en-us" class="no-js">
	<head>
	
		<meta charset="utf-8">
		<title ng-bind="fullApplicationName"></title>
		<meta name="description" content="Vico Mobile private Control Panel for on-line Web and off-line applications">
		<meta name="author" content="Vinco Mobile">
		<meta name="version" content="1.4.8">

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<!-- #CSS Links -->
		<!-- Basic Styles -->
		<link rel="stylesheet" type="text/css" media="screen" href="styles/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" media="screen" href="styles/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" media="screen" href="styles/css/select.min.css">

		<!-- SmartAdmin Styles : Caution! DO NOT change the order -->
		<link rel="stylesheet" type="text/css" media="screen" href="styles/css/smartadmin-production-plugins.min.css">
		<link rel="stylesheet" type="text/css" media="screen" href="styles/css/smartadmin-production.min.css">
		<link rel="stylesheet" type="text/css" media="screen" href="styles/css/smartadmin-skins.min.css">

		<!-- SmartAdmin AngularJS Fixes -->
		<link rel="stylesheet" type="text/css" media="screen" href="styles/css/fixes.css">

		<!-- SmartAdmin RTL Support (Not using RTL? Disable the CSS below to save bandwidth) -->
		<link rel="stylesheet" type="text/css" media="screen" href="styles/css/smartadmin-rtl.min.css">

		<!-- Demo purpose only: goes with demo.js, you can delete this css when designing your own WebApp -->
		<link rel="stylesheet" type="text/css" media="screen" href="styles/css/demo.min.css">

		<!-- Custom CSS for the Strands Crawler monitor-->
		<link rel="stylesheet" type="text/css" media="screen" href="styles/css/custom.css?v=1.4.8">

		<!-- #FAVICONS -->
		<link rel="shortcut icon" href="{{applicationIconUrl}}" type="image/x-icon">

		<!-- #GOOGLE FONT -->
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700">

		<!-- #APP SCREEN / ICONS -->
		<!-- Specifying a Webpage Icon for Web Clip
		Ref: https://developer.apple.com/library/ios/documentation/AppleApplications/Reference/SafariWebContent/ConfiguringWebApplications/ConfiguringWebApplications.html -->
		<link rel="apple-touch-icon" href="styles/img/splash/sptouch-icon-iphone.png">
		<link rel="apple-touch-icon" sizes="76x76" href="styles/img/splash/touch-icon-ipad.png">
		<link rel="apple-touch-icon" sizes="120x120" href="styles/img/splash/touch-icon-iphone-retina.png">
		<link rel="apple-touch-icon" sizes="152x152" href="styles/img/splash/touch-icon-ipad-retina.png">

		<!-- iOS web-app metas : hides Safari UI Components and Changes Status Bar Appearance -->
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<!-- Startup image for web apps -->
		<link rel="apple-touch-startup-image" href="styles/img/splash/ipad-landscape.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)">
		<link rel="apple-touch-startup-image" href="styles/img/splash/ipad-portrait.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)">
		<link rel="apple-touch-startup-image" href="styles/img/splash/iphone.png" media="screen and (max-device-width: 320px)">

	</head>
	<!--

	TABLE OF CONTENTS.

	Use search to find needed section.

	===================================================================

	|  01. #CSS Links                |  all CSS links and file paths  |
	|  02. #FAVICONS                 |  Favicon links and file paths  |
	|  03. #GOOGLE FONT              |  Google font link              |
	|  04. #APP SCREEN / ICONS       |  app icons, screen backdrops   |
	|  05. #BODY                     |  body tag                      |
	|  06. #HEADER                   |  header tag                    |

	===================================================================

	-->

	<!-- #BODY -->
	<!-- Possible Classes (to hardcode the classes you must disable the __ module)

	* 'smart-style-{SKIN#}'
	* 'smart-rtl'         - Switch theme mode to RTL
	* 'menu-on-top'       - Switch to top navigation (no DOM change required)
	* 'no-menu'           - Hides the menu completely
	* 'hidden-menu'       - Hides the main menu but still accessable by hovering over left edge
	* 'fixed-header'      - Fixes the header
	* 'fixed-navigation'  - Fixes the main menu
	* 'fixed-ribbon'      - Fixes breadcrumb
	* 'fixed-page-footer' - Fixes footer
	* 'container'         - boxed layout mode (non-responsive: will not work with fixed-navigation & fixed-ribbon)

	Possible attributes

	* 'data-smart-device-detect' - Detects if mobile or desktop, adds a class to body tag
	* 'data-smart-fast-click'    - Mobile click events
	* 'data-smart-layout'        - Mobile view event listener
	* 'data-smart-page-title'    - Page title

	-->

	<body data-smart-device-detect data-smart-fast-click data-smart-layout data-smart-page-title class="menu-on-top">

		<!-- ui-view container -->

		<div data-ui-view="root"  data-autoscroll="false"></div>

		<!--[if lt IE 7]>
			<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->

		<!--[if lt IE 9]>
			<script src="plugin/es5-shim/es5-shim.js"></script>
			<script src="plugin/json3/lib/json3.min.js"></script>
		<![endif]-->

		<!-- Use for production after building the project with grunt --> 
		<!--<script src="build/rconfig.js"></script>-->
		<!--<script src="plugin/requirejs/require.js" data-main="build/main.js"></script>		-->

		<!-- Use for development -->
		<script src="lib/sockjs-0.3.4.js"></script>
		<script src="lib/stomp.js"></script>
		<script src="lib/jshash-2.2/md5.js"></script>
		<script src="lib/underscore-min.js"></script>
		<script src="lib/underscore.string-2.3.0.min.js"></script>
		<script src="lib/sprintf.min.js"></script>
		<script src="lib/xml2json.js"></script>
		<script src="app/rconfig.js"></script>
		<script src="plugin/requirejs/require.js" data-main="app/main.js"></script>

	</body>
	
</html>
