<header id="header" class="animated fadeInDown">
    <div id="logo-group">
        <h1 id="logo" class="page-title" style="margin-top: 5px;">
            <img ng-src="{{logoClientPath}}" style="height: 60px; width: auto;" alt="{{clientFullName}}">
        </h1>
    </div>
    <language-selector class="hidden"></language-selector>
    &nbsp;&nbsp;
</header>

<div id="main" role="main" class="animated fadeInDown">

    <div id="content" class="container-fluid">

        <div class="row">
            <div class="col-xs-12 col-sm-6 col-sm-offset-1 hidden-xs">
                <div ng-include="loginWelcomeUrl"></div>
            </div>
            <div class="col-xs-10 col-sm-4">
                <br><br><br>
                <div class="well no-padding">
                    <form name="forgotForm" novalidate id="forgot-form" class="smart-form client-form">

                        <header>{{getMessage('AD_GlobalRecoverPassword')}}</header>

                        <fieldset>

                            <section>
                                <label class="label">{{getMessage('AD_GlobalEmail')}}</label>
                                <label class="input"> <i class="icon-append fa fa-user"></i>
                                    <input type="email" data-ng-model="email"
                                           data-smart-validate-input
                                           required
                                           data-required>
                                    <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i>
                                        {{getMessage('AD_GlobalEnterEmail')}}</b> </label>

                                <span class="error-message" ng-if="forgotForm.validated && !forgotForm.$valid">
                                    <span class="error-message" ng-if="forgotForm.$error.email">
                                        {{getMessage('AD_ErrValidationInvalidValue')}}
                                    </span>
                                    <span class="error-message" ng-if="forgotForm.$error.required">
                                        {{getMessage('AD_errFieldMandatory')}}
                                    </span>
                                </span>
                                <div class="note">
                                    <a ui-sref="login">{{getMessage('AD_GlobalPasswordRemembered')}}</a>
                                </div>
                            </section>

                        </fieldset>
                        <footer>
                            <button ng-click="recoverPassword()" class="btn btn-primary btn-block m-b">
                                <i class="fa fa-refresh"></i> {{getMessage('AD_GlobalRecoverPassword')}}
                            </button>
                            <!--<a class="btn btn-primary btn-block m-b" ng-click="loginCtrl.recoverPassword()"><i class="fa fa-refresh" ></i> Recuperar contraseña</a>-->
                        </footer>
                    </form>

                </div>

            </div>
        </div>
    </div>
</div>
