<header id="header" class="animated fadeInDown">

    <div id="logo-group">
        <h1 id="logo" class="page-title" style="margin-top: 5px;">
            <img ng-src="{{logoClientPath}}" style="height: 60px; width: auto;" alt="{{clientFullName}}">
        </h1>
    </div>
    <language-selector class="hidden"></language-selector>
    &nbsp;&nbsp;
</header>
<div id="main" role="main" class="animated fadeInDown">

    <div id="content" class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-sm-offset-1 hidden-xs">
                <div ng-include="loginWelcomeUrl"></div>
            </div>
            <div class="col-xs-10 col-sm-4">
                <br><br><br>
                <div class="well no-padding">
                    <form action="#/home" id="login-form" name="loginForm" class="smart-form client-form" novalidate>

                        <header>{{getMessage('AD_GlobalLoginCaption')}}</header>

                        <fieldset>
                            <section>
                                <label class="label">{{getMessage('AD_GlobalUser')}}</label>
                                <label class="input"> <i class="icon-append fa fa-user"></i>
                                    <input name="username" data-ng-model="username"
                                           ng-required="true" auto-fill-sync
                                           data-message-required="{{getMessage('AD_GlobalEnterUser')}}">
                                    <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i>{{getMessage('AD_GlobalEnterUser')}}</b>
                                </label>
                                <span class="error-message" ng-if="!loginForm.$valid && loginForm.$dirty">
                                    <span class="error-message" ng-if="!loginForm.username.$valid">
                                        {{getMessage('AD_errFieldMandatory')}}
                                    </span>
                                </span>
                            </section>
                            <section>
                                <label class="label">{{getMessage('AD_GlobalPassword')}}</label>
                                <label class="input"> <i class="icon-append fa fa-lock"></i>
                                    <input type="password" name="password" ng-model="password"
                                           auto-fill-sync
                                           ng-required="true"
                                           ng-minlength="3"
                                           ng-maxlength="20">
                                    <b class="tooltip tooltip-top-right"><i class="fa fa-lock txt-color-teal"></i>
                                        {{getMessage('AD_GlobalEnterPassword')}}</b>
                                </label>
                                <span class="error-message" ng-if="!loginForm.$valid && loginForm.$dirty">
                                    <span class="error-message" ng-if="loginForm.password.$error.required">
                                        {{getMessage('AD_errFieldMandatory')}}
                                    </span>
                                    <span class="error-message" ng-if="loginForm.password.$error.minlength || loginForm.password.$error.maxlength">
                                        {{getMessage('AD_errFieldLength',[3,20])}}
                                    </span>
                                </span>
                                <div class="note">
                                    <a ui-sref="forgotPassword">{{getMessage('AD_GlobalForgotPassword')}}</a>
                                </div>
                            </section>
                            <section>
                                <label class="checkbox">
                                    <input type="checkbox" name="remember" checked data-ng-model="remember">
                                    <i></i>{{getMessage('AD_GlobalRemindMe')}}</label>
                            </section>
                        </fieldset>
                        <footer>
                            <a class="btn btn-primary btn-block m-b" ng-click="doLogin()">{{getMessage("AD_GlobalLogin")}}</a>
                        </footer>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>