<header id="header"  class="animated fadeInDown" >

    <div id="logo-group">
        <h1 id="logo" class="page-title" style="margin-top: 5px;">
            <img ng-src="{{logoClientPath}}" style="height: 60px; width: auto;" alt="{{clientFullName}}">
        </h1>
    </div>
    <language-selector class="hidden"></language-selector>&nbsp;&nbsp;
</header>
<div id="main" role="main"  class="animated fadeInDown" >

    <div id="content" class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4 col-lg-offset-4 col-md-offset-3">
                <h3>
                    <span class="label label-success">{{getMessage('AD_GlobalPasswordChanged')}}</span>
                </h3>
                <div class="note">
                    <a href="#/home">{{getMessage('AD_GlobalContinue')}}</a>
                </div>
                <div class="note">
                    {{redirectMessage}}
                </div>
            </div>
        </div>
    </div>
</div>