<header id="header"  class="animated fadeInDown" >

    <div id="logo-group">
        <h1 id="logo" class="page-title" style="margin-top: 5px;">
            <img ng-src="{{logoClientPath}}" style="height: 60px; width: auto;" alt="{{clientFullName}}">
        </h1>
    </div>
    <language-selector class="hidden"></language-selector>&nbsp;&nbsp;
</header>
<div id="main" role="main"  class="animated fadeInDown" >

    <div id="content" class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-sm-offset-1 hidden-xs">
                <div ng-include="loginWelcomeUrl"></div>
            </div>
            <div class="col-xs-10 col-sm-4">
                <br><br><br>
                <div class="well no-padding">
                    <form id="reset-form" name="resetForm" class="smart-form client-form"  data-smart-validate-form>
                        <header>
                            {{getMessage('AD_GlobalTabChangePassword')}}
                        </header>
                        <fieldset>
                            <section>
                                <label class="label">{{getMessage('AD_GlobalPassword')}}</label>
                                <label class="input"> <i class="icon-append fa fa-lock"></i>
                                    <input type="password" name="password"  data-ng-model="password"
                                           data-smart-validate-input
                                           data-required>
                                    <b class="tooltip tooltip-top-right"><i class="fa fa-lock txt-color-teal"></i> {{getMessage('AD_GlobalPassword')}}</b> </label>
                            </section>
                            <section>
                                <label class="label">{{getMessage('AD_GlobalConfirmPassword')}}</label>
                                <label class="input"> <i class="icon-append fa fa-lock"></i>
                                    <input type="password" data-ng-model="confirmPassword"
                                           data-smart-validate-input
                                           data-required
                                           data-message="{{getMessage('AD_GlobalConfirmPassword')}}">
                                    <b class="tooltip tooltip-top-right"><i class="fa fa-lock txt-color-teal"></i> {{getMessage('AD_GlobalConfirmPassword')}}</b> </label>
                            </section>
                            <section>
                                <input type="hidden" name="fecha" ng-model="fecha"/>
                            </section>
                            <section>
                                <input type="hidden"  name="hash"  data-ng-model="hash"/>
                            </section>
                            <section>
                                <input type="hidden"  name="userId"  data-ng-model="userId"/>
                            </section>
                        </fieldset>
                        <footer>
                            <button ng-click="resetPassword()"  class="btn btn-primary">
                                {{getMessage('AD_GlobalTabChangePassword')}}
                            </button>
                        </footer>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>