<header id="header" ng-controller="HeaderCtrl as ctrl">
    <div id="logo-group">

        <!-- PLACE YOUR LOGO HERE -->
        <h1 id="logo-image" class="page-title custom">
            <img ng-src="{{logoClientPath}}" class="page-title-image" alt="{{clientFullName}}">
        </h1>

        <!-- END LOGO PLACEHOLDER -->
    </div>


    <!-- pulled right: nav area -->
    <div class="pull-right">

        <!-- logout button -->
        <div id="logout-btn" class="btn-header transparent pull-right">
        <span> <a title="Sign Out" ng-click="logout()"
                  data-logout-msg="You can improve your security further after logging out by closing this opened browser"><i
                class="fa fa-sign-out"></i></a> </span>
        </div>
        <!-- end logout button -->
        <!-- logout button -->
        <div id="fullscreen-btn" class="btn-header transparent pull-right">
        <span> <a full-screen title="Full screen" data-action="launchFullscreen"><i
                class="fa fa-arrows-alt"></i></a> </span>
        </div>
        <!-- end logout button -->
        <!-- #MOBILE -->
        <!-- Top menu profile link : this shows only when top menu is active -->
        <ul id="mobile-profile-img" class="header-dropdown-list hidden-xs">
            <li class="dropdown-tabbed custom-menu">
                <a prevent-menu-hide href="#" class="dropdown-toggle userdropdown">
                    {{userName}}
                </a>
                <ul prevent-menu-action class="dropdown-menu pull-right" style="width: 270px; height: 390px">
                    <li style="height: 90%">
                        <ul id="profile-tab" class="nav nav-tabs bordered">
                            <li class="active">
                                <a href="#profile-tab1" data-toggle="tab">
                                    <i class="fa fa-fw fa-lg fa-cogs"></i> {{getMessage('AD_GlobalTabProfile')}}
                                </a>
                            </li>
                            <li >
                                <a href="#profile-tab2" data-toggle="tab">
                                    <i class="fa fa-fw fa-lg fa-key"></i> {{getMessage('AD_GlobalTabChangePassword')}}
                                </a>
                            </li>
                        </ul>

                        <div id="profile-tab-content" class="tab-content padding-10" style="height: 100%">
                            <div class="tab-pane fade in active" id="profile-tab1" style="height: 100%"
                                 ng-include="'app/layout/partials/tab.profile.html'">
                            </div>
                            <div class="tab-pane fade" id="profile-tab2" style="height: 100%"
                                 ng-include="'app/layout/partials/tab.reset.password.html'">
                            </div>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
        &nbsp;&nbsp;
        <menu-activator></menu-activator>
        &nbsp;&nbsp;

    </div>
    <!-- end pulled right: nav area -->

</header>