<aside id="left-panel" data-action="minifyMenu" ng-controller="LayoutCtrl as ctrl" ng-class="{selected_menu: showMenu}">

    <!-- User info -->

    <!-- end user info -->

    <nav>
        <!-- NOTE: Notice the gaps after each icon usage <i></i>..
        Please note that these links work a bit different than
        traditional href="" links. See documentation for details.
        -->

        <ul data-smart-menu>

            <!-- Menu automatico -->
            <!-- level 1 -->
            <li data-menu-collapse ng-repeat="level1 in menus">
                <a ng-if="level1.action == 'MANUAL'" data-ui-sref="{{::getManualCommand(level1)}}">
                    <i class="fa fa-lg fa-fw {{level1.icon}}"></i>
                    <span class="menu-item-parent">{{level1.name}}</span>
                </a>
                <a ng-if="level1.action == 'PROCESS'"ng-click="visualizeProcess(level1)">
                    <i class="fa fa-lg fa-fw {{level1.icon}}"></i><span class="hidden-xs">&nbsp;{{level1.name}}</span><label ng-if="level1.subMenus && level1.subMenus.length > 0" class=" pull-right fa fa-lg fa-fw fa-caret-right"></label>
                </a>
                <a ng-if="level1.action == 'WINDOW'" data-ui-sref="{{level1.idWindow?'app.autogen.table(level1)':'.'}}">
                    <i class="fa fa-lg fa-fw {{level1.icon}}"></i><span class="hidden-xs">&nbsp;{{level1.name}}</span><label ng-if="level1.subMenus && level1.subMenus.length > 0" class=" pull-right fa fa-lg fa-fw fa-caret-right"></label>
                </a>
                <!-- Level 2 -->
                <ul ng-if="level1.subMenus && level1.subMenus.length > 0">
                    <li id="menu{{level2.name}}" ng-repeat="level2 in level1.subMenus"
                        ng-attr-data-menu-collapse="{{level2.subMenus.length > 0? '' : undefined}}">
                        <!--<span ng-switch="level2.action">-->
                            <a ng-if="level2.action =='MANUAL'" data-ui-sref="{{::getManualCommand(level2)}}">
                                <i class="fa fa-lg fa-fw {{level2.icon}}"></i> &nbsp;{{level2.name}}<label ng-if="level2.subMenus && level2.subMenus.length > 0" class=" pull-right fa fa-lg fa-fw fa-caret-right visible-xs"></label>
                            </a>
                            <a ng-if="level2.action =='PROCESS'" ng-click="visualizeProcess(level2)">
                                <i class="fa fa-lg fa-fw {{level2.icon}}"></i>&nbsp;{{level2.name}}<label ng-if="level2.subMenus && level2.subMenus.length > 0" class=" pull-right fa fa-lg fa-fw fa-caret-right visible-xs"></label>
                            </a>
                            <a ng-if="level2.action =='WINDOW'" data-ui-sref="{{level2.idWindow?'app.autogen.table(level2)':'.'}}">
                                <i class="fa fa-lg fa-fw {{level2.icon}}"></i>&nbsp;{{level2.name}}<label ng-if="level2.subMenus && level2.subMenus.length > 0" class=" pull-right fa fa-lg fa-fw fa-caret-right visible-xs"></label>
                            </a>
                        <!--</span>-->
                        <!--<a data-ui-sref="{{level2.action=='MANUAL'?(level2.manualCommand ? level2.manualCommand + '()': '.'):'.'}}">-->
                        <!--<i class="fa fa-lg fa-fw {{level2.icon}}"></i>&nbsp;{{level2.name}}-->
                        <!--</a>-->
                        <!-- Level 3 -->
                        <ul ng-if="level2.subMenus && level2.subMenus.length > 0">
                            <li ng-repeat="level3 in level2.subMenus"
                                ng-attr-data-menu-collapse="{{level3.subMenus.length > 0? '' : undefined}}">
                                <span ng-switch="level3.action">
                                    <a ng-switch-when="MANUAL" data-ui-sref="{{::getManualCommand(level3)}}">
                                        <i class="fa fa-lg fa-fw {{level3.icon}}"></i>&nbsp;{{level3.name}}<label ng-if="level3.subMenus && level3.subMenus.length > 0" class=" pull-right fa fa-lg fa-fw fa-caret-right visible-xs"></label>
                                    </a>
                                    <a ng-switch-when="PROCESS" ng-click="visualizeProcess(level3)">
                                        <i class="fa fa-lg fa-fw {{level3.icon}}"></i>&nbsp;{{level3.name}}<label ng-if="level3.subMenus && level3.subMenus.length > 0" class=" pull-right fa fa-lg fa-fw fa-caret-right visible-xs"></label>
                                    </a>
                                    <a ng-switch-when="WINDOW" data-ui-sref="{{level3.idWindow?'app.autogen.table(level3)':'.'}}">
                                        <i class="fa fa-lg fa-fw {{level3.icon}}"></i>&nbsp;{{level3.name}}<label ng-if="level3.subMenus && level3.subMenus.length > 0" class=" pull-right fa fa-lg fa-fw fa-caret-right visible-xs"></label>
                                    </a>
                                </span>
                                <!-- Level 4 -->
                                <ul ng-if="level3.subMenus && level3.subMenus.length > 0">
                                    <li ng-repeat="level4 in level3.subMenus"
                                        ng-attr-data-menu-collapse="{{level4.subMenus.length > 0? '' : undefined}}">
                                        <span ng-switch="level4.action">
                                            <a ng-switch-when="MANUAL" data-ui-sref="{{::getManualCommand(level4)}}">
                                                <i class="fa fa-lg fa-fw {{level4.icon}}"></i>&nbsp;{{level4.name}}
                                            </a>
                                            <a ng-switch-when="PROCESS" ng-click="visualizeProcess(level4)">
                                                <i class="fa fa-lg fa-fw {{level4.icon}}"></i>&nbsp;{{level4.name}}
                                            </a>
                                            <a ng-switch-when="WINDOW" data-ui-sref="{{level4.idWindow?'app.autogen.table(level4)':'.'}}">
                                                <i class="fa fa-lg fa-fw {{level4.icon}}"></i>&nbsp;{{level4.name}}
                                            </a>
                                        </span>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>

    </nav>

    <!--<span class="minifyme" data-action="minifyMenu" minify-menu>-->
    <!--<i class="fa fa-arrow-circle-left hit"></i>-->
    <!--</span>-->

</aside>

