<div role="content" style="height: 100%">
    <!-- widget content -->
    <div class="widget-body smart-form" style="height: 100%">
        <form style="height: 100%">
            <fieldset>
                <div class="row">
                    <section class="col col-12">
                        <label class="label">{{getMessage('AD_GlobalClient')}}: {{loggedClient.name}}</label>
                    </section>
                </div>
                <div class="row">
                    <section class="col col-12">
                        <label class="label">{{getMessage('AD_GlobalLanguage')}}</label>
                        <language-selector class="pull-left" style="margin-left: 8px"></language-selector>
                    </section>
                </div>
                <div class="row">
                    <section class="col col-12">
                        <label class="label">{{getMessage('AD_GlobalRole')}}</label>
                        <role-selector class="pull-left" style="margin-left: 8px"></role-selector>
                    </section>
                </div>
                <div class="row">
                    <section class="col col-12">
                        <label class="checkbox">
                            <input type="checkbox" ng-model="updateProfile" ng-change="updateProfileCheck(updateProfile)" />
                            <i></i>{{getMessage('AD_GlobalSetDefault')}}</label>
                    </section>
                </div>
            </fieldset>
            <footer class="navbar-fixed-bottom">
                <button class="btn btn-primary pull-right" ng-click="reloadInformation()">
                    <i class='fa fa-check'></i> {{getMessage('AD_btnApply')}}
                </button>
            </footer>
        </form>
    </div>
</div>