<div role="content" style="height: 100%" ng-controller="resetPasswordController as ctrl">
    <!-- widget content -->
    <div class="widget-body" style="height: 100%">
        <form id="resetPasswordForm" name="resetPasswordForm" class="jarvis-widget smart-form" novalidate style="height: 100%">
            <fieldset>
                <div class="row">
                    <section class="col col-12">
                        <label class="label" for="currentPassword">{{getMessage('AD_GlobalCurrentPassword')}}</label>
                        <input type="password" name="currentPassword" id="currentPassword" class="form-control"
                               ng-required="true"
                               ng-model="currentPassword"/>
                        <span class="error-message" ng-show="resetPasswordForm.$dirty && resetPasswordForm.currentPassword.$error.required">{{getMessage('AD_errFieldMandatory')}}</span>
                    </section>
                </div>
                <div class="row">
                    <section class="col col-12">
                        <label class="label" for="newPassword">{{getMessage('AD_GlobalNewPassword')}}</label>
                        <input type="password" name="newPassword" id="newPassword" class="form-control"
                               ng-required="true"
                               ng-model="newPassword"/>
                        <span class="error-message" ng-show="resetPasswordForm.$dirty && resetPasswordForm.newPassword.$error.required">{{getMessage('AD_errFieldMandatory')}}</span>
                    </section>
                </div>
                <div class="row">
                    <section class="col col-12">
                        <label class="label" for="confirmPassword">{{getMessage('AD_GlobalConfirmPassword')}}</label>
                        <input type="password" name="confirmPassword" id="confirmPassword" class="form-control"
                               ng-required="true"
                               ng-model="confirmPassword"/>
                        <span class="error-message" ng-show="resetPasswordForm.$dirty && resetPasswordForm.confirmPassword.$error.required">{{getMessage('AD_errFieldMandatory')}}</span>
                        <span class="error-message" ng-show="resetPasswordForm.$dirty && confirmPassword != newPassword">{{getMessage('AD_GlobalPasswordNotMatch')}}</span>
                    </section>
                </div>
            </fieldset>
            <footer class="navbar-fixed-bottom">
                <button class="btn btn-primary pull-right " ng-click="changePassword()">
                    <i class='fa fa-check'></i> {{getMessage('AD_btnApply')}}
                </button>
            </footer>
        </form>
    </div>
</div>
